function randInteger(to, from=1){
  return from + Math.floor(Math.random()*(to-from+1))
}

function formatDate(pDateStr, format="年月日") {
  // console.log(pDateStr)
  var seperators = format.split('')
  // console.log(seperators)
  var dateParts = pDateStr.split('/')
  // console.log(dateParts)
  if (dateParts == pDateStr){
    dateParts = pDateStr.split('-')
  }
  var dateString = ''
  for (var i = 0; i < dateParts.length; i++){
    dateString += dateParts[i] + seperators[i]
  }
  return dateString
}

// 导出对外暴露的属性
module.exports = {
  randInteger: randInteger,
  formatDate: formatDate,
}